.ShopPage-Container {
    padding: 50px 75px;
    /*min-width: 1000px;*/
}

.ShopPage-GridContainer {
    display: flex;
}

.ShopPage-GridItem {
    /*display: inline-block;*/
    flex: auto;
    /*background-color: gold;*/
}